apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ${certificate}
    server: ${host}
  name: ${name}
contexts:
- context:
    cluster: ${name}
    user: ${name}
  name: ${name}
current-context: ${name}
kind: Config
preferences: {}
users:
- name: ${name}
  user:
    token: ${token}