╔════════════════════════════════╗
║ElastiCache Memcache Information║
╚════════════════════════════════╝
${join("\n", [
for key, value in resource_map:
(
  join("\n\t", [
    "(${key})${value.cluster_id}:",
    "╠ Address: ${value.cluster_address}",
    resource_endpoints[key],
    "╠ Engine: ${value.engine}",
    "╚ Version: ${value.engine_version}"
  ])
)
])}

